@font-face {
  font-family: Passio;
  src: url('../static/Passio-Graphis.otf');
}


@font-face {
  font-family: Olondona;
  src: url('../static/Olondona.otf');
}

@font-face {
  font-family: Tapeworm;
  src: url('../static/Tapeworm-Regular.otf');
}

@font-face {
  font-family: murmure;
  src: url('../static/le-murmure.otf');
}

@font-face {
  font-family: ferrite;
  src: url('../static/FerriteCoreDX-Regular.otf');
}



.title{
  font-size: 3em;
  font-family: Olondona;
  // text-align: center;
  position: absolute;
  color: rgba(256,256,256,1);
  // pointer-events: none;
  top: 10%;
  left: 5%;
  // justify-content: center;
  width: 100%;
  height: 20px;
  z-index: 1;
  cursor: pointer;
}

.loading-bar
{
    color: white;
    font-size: 10em;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background:white;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;


}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.loading-bar-text
{
    pointer-events: none;
    font-family: Tapeworm;
    color: white;
    font-size: 10em;
    text-align: center;
    position: absolute;
    top: 50%;
    justify-content: center;
    width: 100%;
    height: 20px;
    // transition: transform 1.5s ease-in-out;




}


.fade-out {

  animation: fadeOut ease 4s  forwards;;
  -webkit-animation: fadeOut ease 4s  forwards;;
  -moz-animation: fadeOut ease 4s  forwards;;
  -o-animation: fadeOut ease 4s  forwards;;
  -ms-animation: fadeOut ease 4s  forwards;;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}
